.auth-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.auth-form-container{
    width: 35vw;
    height: 55vh;
    box-shadow: 4px 8px rgba(50, 50, 50, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    overflow: auto;
    color: white;
    font-size: 70px;   
}
.auth-form{
    display: flex;
    margin: 10px;
    justify-content: space-between;
    width: 20vw;
    color: white;
    font-size: 1rem;
}

.auth-buttons-container{
    display: flex;
    justify-content: space-around;
    width: 20vw;
    font-size: 1rem;
}

.auth-buttons{
    background-color: #403d39;
    color: white;
    border: none;
    height: 35px; 
    width: 80px;
}